@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" >
    <h1 class="display-4 text-white">Good Macth</h1>
    <label for="html" class="text-white">Enter Player Names</label>
    @if (Model.isThereAnError == true)
    {
        <div class="alert alert-danger" role="alert">
            Please Make Sure You Enter Valid Names( eg. Kwanele or check <a asp-page="/Logs">Logs</a>)
        </div>
    }
    <form method="post" enctype="multipart/form-data">
        <div class="jumbotron" style="background-color: #083d5e">
            <label for="html" class="text-white">Player 1 Name</label>
            <input asp-for="Player1Name" id="player1Name" type="text" />
            <label for="html" class="text-white">Player 2 Name</label>
            <input asp-for="Player2Name" id="player2Name" type="text" /><br /><br />
            <input id="Submit1" type="submit" value="Show Result" class="btn btn-primary" />
            <br /><br />
            @if (Model.singleMacthResult != null)
            {

                <p class="text-white"> @Model.singleMacthResult</p>
            }
        </div>
    </form>
    <form method="post">
        <label for="html" class="text-center text-white font-weight-bold">OR</label>
        <br />
        <label for="html" class="text-white">Get Names from file and show results </label>
        <div class="jumbotron justify-content-center border-danger" style="background-color: #083d5e">
            <input id="Submit2" type="submit" value="Show Results" class="btn btn-primary" />
        </div>
        <br />
        @if (Model.sortedResultDictionary != null)
        {
            <label for="html" class="text-white">Results</label>
            <div class="jumbotron border-danger">
                @foreach (KeyValuePair<int, List<string>> results in Model.sortedResultDictionary)
                {
                    foreach (string result in results.Value)
                    {
                        <p class="text-black"> @result</p>
                    }
                }
            </div>
        }
    </form>
</div>
